.BookListItem {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid 
}

.thumbnail_wrapper {
  position: relative;
  float: left;
  padding-right: 20px;
}

.cover {

  box-sizing:         border-box;
  display: block;
  width: 100%;
  max-width: 320px;
  border: .1em solid #ccc;
  margin: 1em 20px 1em 0;
  box-shadow: 5px 5px 3px 3px #555555
}


.title {
  font-size: 1.5em;
}

.author {
  font-size: .9em;
}